<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpdemo4.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpdemo4.Perspective"
            id="rcpdemo4.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcpdemo4.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="exitCommand"
         point="org.eclipse.ui.commands">
      <command
            id="rcpdemo4.command1"
            name="Exit">
      </command>
      <command
            id="rcpdemo4.command2"
            name="Open File">
      </command>
      <command
            id="rcpdemo4.command3"
            name="close">
      </command>
      <command
            id="rcpdemo4.command4"
            name="Close All">
      </command>
      <command
            id="rcpdemo4.command5"
            name="Un Add">
      </command>
      <command
            id="rcpdemo4.command6"
            name="Redo">
      </command>
      <command
            id="rcpdemo4.command7"
            name="Cut">
      </command>
      <command
            id="rcpdemo4.command8"
            name="Copy">
      </command>
      <command
            id="rcpdemo4.command9"
            name="Go Into">
      </command>
      <command
            id="rcpdemo4.command10"
            name="Go to">
      </command>
      <command
            id="rcpdemo4.command11"
            name="Open Type">
      </command>
      <command
            id="rcpdemo4.command12"
            name="Open Task">
      </command>
      <command
            defaultHandler="OpenDialog"
            id="rcpdemo4.command13"
            name="OpenDialog">
      </command>
      <command
            defaultHandler="SelectionDialog"
            id="rcpdemo4.command14"
            name="SelectionDialog ">
      </command>
      <command
            defaultHandler="OpenMyDialog"
            id="rcpdemo4.command15"
            name="openMyDialog ">
      </command>
      <command
            defaultHandler="ShowWizard"
            id="rcpdemo4.command16"
            name="ShowWizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="rcpdemo4.command1"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command2"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command3"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command4"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="rcpdemo4.command5"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command6"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command7"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command8"
                  style="push">
            </command>
         </menu>
         <menu
               label="Navigate">
            <command
                  commandId="rcpdemo4.command11"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command10"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command12"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command9"
                  style="push">
            </command>
         </menu>
         <menu
               label="Dialog">
            <command
                  commandId="rcpdemo4.command13"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command14"
                  style="push">
            </command>
            <command
                  commandId="rcpdemo4.command15"
                  style="push">
            </command>
         </menu>
         <menu
               label="Wizard">
            <command
                  commandId="rcpdemo4.command16"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpdemo4.ViewPart1"
            id="rcpdemo4.view1"
            name="ViewPart1"
            restorable="true">
      </view>
      <view
            class="rcpdemo4.ViewPart2"
            id="rcpdemo4.view2"
            name="ViewPart2"
            restorable="true">
      </view>
      <view
            class="rcpdemo4.ViewPart3"
            id="rcpdemo4.view3"
            name="ViewPart3"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="rcpdemo4.view1"
               minimized="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="rcpdemo4.view2"
               minimized="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="rcpdemo4.view3"
               minimized="false"
               ratio="0.5f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
